SPOTIFY_CLIENT_ID="your_app_client_id"
SPOTIFY_CLIENT_SECRET="your_app_client_secret"
SPOTIFY_STATE="thisarandomstate"
SPOTIFY_SCOPE="user-read-private user-read-email user-library-read"
SPOTIFY_REDIRECT_URL="https://ffffffa5d3e0.ngrok.app/api/v0/spotify/callback"

DISCOGS_ACCESS_TOKEN="YOUR_DISCOGS_PERSONAL_ACCESS_TOKEN"